html {
    background-image: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 0 0;


}
a{
    text-align: center;
    text-decoration: none;
}
ui{
    text-align: center;
}
li{
    display: inline;
    text-align: center;
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    margin: 15px auto;
}
#nav_list{
    border-bottom: 4px solid blue;
}
#nav_list ul { 
    display: inline;
    list-style-type: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em; }
#nav_list ul li { 
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid blue; }
#nav_list ul li a {
    display: inline-block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: blue; }
#nav_list ul li a.current {
    background-color: blue; }
article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
    border-bottom: 4px solid blue;
}
article img {
    width: 50%; 
    margin-left: 1%; 
    float: left
}
article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
article h1{
    font-size: 175%;
    color: blue;
    text-indent: 30px;
}
article h2{
    font-size: 120%;
    color: blue;
    text-indent: 30px;
}
aside {
    width: 20%;
    position: fixed right;
    float: right;
    background-color: lightblue;
    padding: 0.1em 1em 1em;
}
aside ol {
    list-style-type: upper-roman;
}
aside ul { 
    list-style-type: square;
}
footer{
    margin-top: 3225px;
    text-align: center;
}
.fixed aside{

    width: auto;
    position: fixed;
    bottom: 35%;
    right: 0;
    border: 3px solid blue;
    background-color: lightblue;
    padding: 1em 1em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}